<!-- 儲存資料 -->
<% if (userinfos.length) { %>
  <ul>
    <% userinfos.forEach(function(userinfo){ %>
      <li>
        <div class='name'>
          <%= userinfo['firstname'] %> <%= userinfo['occupation'] %>
        </div>
        <a href="" class='update' rel=<%= userinfo['_id']%>>修改EDIT</a> 
      </li>
    <% }) %>
  </ul>
<% } %>
