<!-- 呈現資料 -->
<div>
  <span class='name'>Firstname:</span>
  <span><%= userinfo['firstname'] %></span>
</div>

<div>
  <span class='name'>內容:</span>
  <span><%= userinfo['occupation'] %></span>
</div>
