<!-- 修改資料 -->
<div class='name'>First name:</div> <input type="text" placeholder="<%= userinfo['firstname'] %>" id="firstname0"/><br />

<div class='name'>Write Something:</div> <input type="text" placeholder="<%= userinfo['wccupation'] %>" id="ccupation0"/><br />
<button class="btn-update" name=<%= userinfo['_id']%>>更新Update</button>
